name: artifact
on: workflow_dispatch
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install deps
        run: npm ci
      - name: build
        run: npm run build
      - name: Download artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
      - name: log
        run: ls dist