name: full_flow
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install deps
        run: npm ci
      - name: Run test
        run: npm run test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install deps
        run: npm ci
      - name: Build code
        run: npm run build
      - name: Deploy
        run: echo "deploying..."
  log:
    runs-on: ubuntu-latest
    steps: 
      - name: log
        run: echo "${{toJson(github)}}"