name: full flow 2
on: workflow_dispatch
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: install deps
        run: npm ci
      - name: test
        run: npm run test
  cd:
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: build
        run: npm run build
      - name: deploy
        run: echo "deploying..."